<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitLife - Your Fitness Journey Starts Here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href= "../styles/home.css">
    <link rel="stylesheet" href= "../styles/template.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="home.html#home"><img src="../images/FitLife.png" alt="FitLife Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Center the menu items -->
          <li class="nav-item"><a class="nav-link" href="home.html#home">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="home.html#features" id="dropdownHealthTips" role="button" aria-expanded="false">
              Features
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownHealthTips">
              <a href="fatlosstips.html">Workout Program</a>
              <a href="food.html">Food Recommendation</a>
              <a href="product.html">Product Recommendation</a>
              <a href="calculatorpage.html">Health Calculator</a>
              <a href="findgym.html">Find Gym</a>
              <a href="membership.html">Membership</a>

            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="faqQues.html">FAQ</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownAbout" role="button" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownAbout">
              <a href="aboutus.html">About Us</a>
              <a href="ourteam.html">Our Team</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="profile.html" id="dropdownProfile" role="button" aria-expanded="false">
              <i class="bi bi-person profile-icon"></i> Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownProfile">
              <a href="register.html">Join Us</a>
              <a href="login.html">Sign In</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<section>
    <!---Carousel Section-->
<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" data-interval = 3000>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <section id="carousel0" class="hero">
                <div class="container">
                    <h1>Transform Your Body, Transform Your Life</h1>
                    <p>Join FitLife today and start your journey to a healthier you!</p>
                    <a href="register.html" class="btn btn-primary btn-lg">Join Us</a>
                </div>
                
            </section>

          </div>
          <div class="carousel-item">
            <section id="carousel1" class="hero" >
                <div class="container">

                    <h1>Membership Program</h1>

                    <p>We have our own membership program to help keep you on track with your fitness journey !</p>
                    <a href="membership.html" class="btn btn-primary btn-lg">Get membership</a>
                </div>
                
            </section>
          </div>
          <div class="carousel-item">
            <section id="carousel2" class="hero">
                <div class="container">

                    <h1>Helpful Info</h1>
                    <p>FitLife is a one stop website to provide you latest health info</p>
                    <a href="#features" class="btn btn-primary btn-lg">Get Started</a>

                </div>
                
            </section>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
    </section>

      </section>
    <section id = "aboutus" class = py-5>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class = "aboutus-left h-100">
                        <div class="chart-container h-100">
                            <canvas id="obesityChart" ></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="aboutus-right">
                        
                        <br>
                        <h2>Why FitLife?</h2>
                        <br>
                        <ul>
                            <li>Obesity rates have doubled in the last decade</li>
                            <li>1 in 5 adults has diabetes</li>
                            <li>Heart disease remains our #1 killer</li>
                            <li>Stress and mental health issues are on the rise</li>
                          </ul>
                          <p class="hope-message">
                            But there's hope. Small changes can lead to big results, and we're here to guide you every step of the way.
                          </p>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Team Section-->
<section id = "mission" class = py-5>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class = "mission-left">
                    <h2>What You'll Find Here:</h2>
                    <br>

                    <ul>
                      <li>Expert advice from health professionals</li>
                      <li>Easy-to-follow nutrition guides tailored to local cuisine</li>
                      <li>Fun, effective workout plans for all fitness levels</li>
                      <li>Find gym functionality to help you find gym near you</li>
                      <li>Success stories from fellow Malaysians</li>
                      <li>Community support and local health initiatives</li>
                    </ul>
                
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="mission-right">
                    <img src="../images/home-our-team.jpg" class ='img-fluid'  width="600px" height = "400px" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id = "testimonial">
    <div class = "container">
        <p>"This website is AWESOME. It has been my number one source for good fitness tips and advice"</p>
        <p class="customer">- Chorng Huah</p>
    </div>
</section>


    <section id="features" class="py-5">
        <div class="container">
            <h2 class="text-center mb-5">Our Features</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Workout Program 🏋️‍♂️</h3>
                            <a href="fatlosstips.html" class="stretched-link"></a>
                            <p class="card-text">Plan your custom workout tailored to your fitness goals and level.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    
                    <div class="card">
                        
                        <div class="card-body">
                          <h3 class="card-title">Food Recommendation 🥩</h3>
                          <a href="food.html" class="stretched-link"></a>
                          <p class="card-text">Discover some recipes for a healthy diet recommended by professional. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                          <h3 class="card-title">Product Recommendation 🛒</h3>
                          <a href="product.html" class="stretched-link"></a>
                          <p class="card-text">Explore some products that will help you in your fitness journey.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                          <h3 class="card-title">Gym Finder 🏢</h3>
                          <a href="findgym.html" class="stretched-link"></a>
                          <p class="card-text">Find a gym nearby your location to get your fitness journey started.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    
                    <div class="card">
                        
                        <div class="card-body">
                          <h3 class="card-title">Health Calculator 🧮</h3>
                          <a href="calculatorpage.html" class="stretched-link"></a>
                          <p class="card-text">Find out your BMI or your calorie needs suited for your lifestyle. </p>

                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Membership Information 💳</h3>
                            <a href="membership.html" class="stretched-link"></a>
                            <p class="card-text">Start your fitness journey today with the plan that fits you best! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-5">Contact Us</h2>
            <form id="contactForm">
                <div class="mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Your Email" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="message" rows="5" placeholder="Your Message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>


    </section>


    <footer class="bg-dark text-white text-center py-3"  style="margin-top: 2rem;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/FitlifeGymKL/" target="_blank"
              role="button"
              ><i class="bi bi-facebook"></i
            ></a>
      
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;" href="https://x.com/fitlife16" target="_blank" role="button"><i class="custom-twitter-x">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
              </svg>
            </i></a>
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/go_fitlife/?hl=en"target="_blank" 
              role="button"
              ><i class="bi bi-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/in/liew-zheng-xian-687860312/" target="_blank"
              role="button"
              ><i class="bi bi-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/LiewZhengXian/Frontend-Assignment" target="_blank"
              role="button"
              ><i class="bi bi-github"></i>
              </a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <p>&copy; 2024 FitLife. All rights reserved.</p>

        </div>
        <!-- Copyright -->
      </footer>
          <button class="back-to-top" id="back-to-top"><i class="bi bi-arrow-up"></i></button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../home.js"></script>
</body>
</html>
