<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitLife Membership</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/membership.css">
  <link rel="stylesheet" href="../styles/template.css"> <!-- Link to the template CSS file -->
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="home.html#home"><img src="../images/FitLife.png" alt="FitLife Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Center the menu items -->
          <li class="nav-item"><a class="nav-link" href="home.html#home">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="home.html#features" id="dropdownHealthTips" role="button" aria-expanded="false">
              Features
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownHealthTips">
              <a href="fatlosstips.html">Workout Program</a>
              <a href="food.html">Food Recommendations</a>
              <a href="product.html">Product Recommendation</a>
              <a href="calculatorpage.html">Health Calculator</a>
              <a href="findgym.html">Find Gym</a>
              <a href="membership.html">Membership</a>

            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="faqQues.html">FAQ</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownAbout" role="button" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownAbout">
              <a href="aboutus.html">About Us</a>
              <a href="ourteam.html">Our Team</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="profile.html" id="dropdownProfile" role="button" aria-expanded="false">
              <i class="bi bi-person profile-icon"></i> Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownProfile">
              <a href="register.html">Join Us</a>
              <a href="login.html">Sign In</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <section class="hero-section">
        <h1>Choose Your FitLife Membership</h1>
        <p>Start your fitness journey today with the plan that fits you best!</p>
    </section>

    <div class="container" id="features-container">
        <div class="row membership-row">
            <div class="col-md-6">
                <div class="membership-option fl-plus">
                    <h2><span>FL</span> Plus</h2>
                    <p>Get exclusive content and access to programs and challenges, with advanced features to help you reach and maintain your goals.</p>
                    <a href="register.html">
                      <button class="btn btn-primary">Join with Plus</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="membership-option fl-free">
                    <h2>FL Free</h2>
                    <p>Enjoy hundreds of workout videos, articles, and recipes, with new content every week. No strings attached, no credit card required.</p>
                    <a href="register.html">
                      <button class="btn btn-secondary">Join Free</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container membership-features-container">
        <h2 class="text-center mb-4">Membership Features</h2>
        <table class="table table-striped membership-table">
          <thead>
            <tr>
              <th class="feature-column">Features</th>
              <th>Plus</th>
              <th>Free</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="feature-column">Free Professionally-Built Workout Videos</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="green-tick">✓</span></td>
            </tr>
            <tr>
              <td class="feature-column">Hundreds of Healthy Living Articles</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="green-tick">✓</span></td>
            </tr>
            <tr>
              <td class="feature-column">Healthy and Convenient Recipes</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="green-tick">✓</span></td>
            </tr>
            <tr>
              <td class="feature-column">Positive and Encouraging Community</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="green-tick">✓</span></td>
            </tr>
            <tr>
              <td class="feature-column">Weekly Giveaways</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="green-tick">✓</span></td>
            </tr>
            <tr>
              <td class="feature-column">Referral and Rewards Program</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="red-cross">✗</span></td>
            </tr>
            <tr>
              <td class="feature-column">Personal online instructor</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="red-cross">✗</span></td>
            </tr>
            <tr>
              <td class="feature-column">Free Birthday Voucher</td>
              <td><span class="green-tick">✓</span></td>
              <td><span class="red-cross">✗</span></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="feature-column"></td>
              <td>
                <p>Starting at RM19.99 per month</p>
                <a href="register.html">
                  <button class="btn btn-dark">Join with Plus</button>
                </a>
              </td>
              <td>
                <p>Free</p>
                <a href="register.html">
                  <button class="btn btn-dark">Join Free</button>
                </a>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <footer class="bg-dark text-white text-center py-3" style="margin-top: 2rem;">
        <div class="container p-4 pb-0">
          <section class="mb-4">
            <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/FitlifeGymKL/" target="_blank" role="button"><i class="bi bi-facebook"></i></a>
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;" href="https://x.com/fitlife16" target="_blank" role="button"><i class="custom-twitter-x">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
              </svg>
            </i></a>
            <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/go_fitlife/?hl=en"target="_blank"  role="button"><i class="bi bi-instagram"></i></a>
            <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/liew-zheng-xian-687860312/" target="_blank" role="button"><i class="bi bi-linkedin"></i></a>
            <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="https://github.com/LiewZhengXian/Frontend-Assignment" target="_blank" role="button"><i class="bi bi-github"></i></a>
          </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          <p>&copy; 2024 FitLife. All rights reserved.</p>
        </div>
      </footer>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>