<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team - FitLife</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href= "../styles/template.css">
    <link rel="stylesheet" href= "../styles/ourteam.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="home.html#home"><img src="../images/FitLife.png" alt="FitLife Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto"> <!-- Center the menu items -->
            <li class="nav-item"><a class="nav-link" href="home.html#home">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="home.html#features" id="dropdownHealthTips" role="button" aria-expanded="false">
                Features
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownHealthTips">
                <a href="fatlosstips.html">Workout Program</a>
                <a href="food.html">Food Recommendations</a>
                <a href="product.html">Product Recommendation</a>
                <a href="calculatorpage.html">Health Calculator</a>
                <a href="findgym.html">Find Gym</a>
                <a href="membership.html">Membership</a>
  
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="faqQues.html">FAQ</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownAbout" role="button" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownAbout">
                <a href="aboutus.html">About Us</a>
                <a href="ourteam.html">Our Team</a>
              </div>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="profile.html" id="dropdownProfile" role="button" aria-expanded="false">
                <i class="bi bi-person profile-icon"></i> Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownProfile">
                <a href="register.html">Join Us</a>
                <a href="login.html">Sign In</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <section class="our-team-section" id="our-team-section-id">
      <div class="our-team-section-bg">
        <div class="our-team-section-detail">
          <h1>Our Team</h1>
          <p>Our team of fitness enthusiasts is dedicated to bringing you the best tips and advice for a healthier, more active lifestyle.</p>
        </div>
      </div>
    </section>

    <section class="our-mission-section" id="our-mission-section-id">
      <div class="our-mission-section-title">
        <h2>Meet <br> FitLife</h2>
      </div>
      <div class="our-mission-section-desc">
        <p>At FitLife, we’re a passionate group of fitness enthusiasts, nutrition experts, and wellness coaches dedicated to helping you achieve your health goals. With a blend of science-backed advice and real-world experience, our mission is to inspire and guide you on your journey to a healthier, fitter lifestyle.</p>
      </div>
    </section>

    <section class="our-core-value" id="our-core-value-id">
      <div>
        <h1>Our Core Value</h1>
        <h2>3I, Triple I.</h2>
        <div class="row our-core-value-detail">
          <div class="right1"><p>Integrity</p>We provide honest, evidence-based fitness advice.</div>
          <div class="left"><p>Innovation</p> We embrace new trends to help you stay ahead in your fitness journey.</div>
          <div class="right2"><p>Inclusivity</p> We cater to all fitness levels, welcoming everyone to achieve their best.</div>
        </div>
      </div>
    </section>

    <section class="team-member-section" id="team-member-section-id">
      <div class="container">
        <h1 class="text-center mb-5">Our Team</h1>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="team-description">
                    <p>Our team of fitness enthusiasts is dedicated to bringing you the best tips and advice for a healthier, more active lifestyle.</p>
                </div>
            </div>
        </div>

        <div class="row align-item-center team-member-content">
            <div class="col mb-4">
                <div class="team-member">
                    <img src="../images/LiewZhengXian.jpg" alt="Liew Zheng Xian" class="img-fluid">
                    <h3>Liew Zheng Xian</h3>
                    <p>Chief Wellness Architect</p>
                </div>
                <div class="team-member-details mt-3" style="display: none;">
                    <p>Liew Zheng Xian leads our team with a vision to create a comprehensive wellness platform. His strategic direction ensures that our content is not only informative but also transformative, empowering individuals to make lasting lifestyle changes.</p>
                    <p>Related link:                       <a
                      data-mdb-ripple-init
                      class="btn text-white btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/liew-zheng-xian-687860312/" target="_blank"
                      role="button"
                      ><i class="bi bi-linkedin"></i>
                      </a></p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-member" onclick="showDetail(this)">
                    <img src="../images/LeeChorngHuah.jpeg" alt="Member 2" class="img-fluid">
                    <h3>Lee Chorng Huah</h3>
                    <p>Strategic Fitness Innovator</p>
                </div>
                <div class="team-member-details mt-3" style="display: none;">
                    <p>Lee Chorng Huah is the creative force behind our fitness strategies. He develops innovative programs and content that push the boundaries of traditional fitness, keeping our audience engaged and excited about their wellness journey.</p>
                    <p>Related link:                       <a
                      data-mdb-ripple-init
                      class="btn text-white btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/leechornghuah/" target="_blank"
                      role="button"
                      ><i class="bi bi-linkedin"></i>
                      </a></p>
                </div>
            </div>
        </div>
        <div class="row align-item-center team-member-content">
            <div class="col mb-4">
                <div class="team-member" onclick="showDetail(this)">
                    <img src="../images/LerJunWei.jpg" alt="Member 3" class="img-fluid">
                    <h3>Ler Jun Wei</h3>
                    <p>Health Optimization Specialist</p>
                </div>
                <div class="team-member-details mt-3" style="display: none;">
                    <p>Ler Jun Wei is dedicated to maximizing health outcomes for our community. His expertise in personalizing fitness tips and advice ensures that each individual can achieve their goals in the most effective and sustainable way possible.</p>
                    <p>Related link:             
                      <a
                      data-mdb-ripple-init
                      class="btn text-white btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/ler-jun-wei-875343306/" target="_blank"
                      role="button"
                      ><i class="bi bi-linkedin"></i>
                      </a>
                    </p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-member" onclick="showDetail(this)">
                    <img src="../images/TanKaiJun.jpg" alt="Member 4" class="img-fluid">
                    <h3>Tan Kai Jun</h3>
                    <p>Active Lifestyle Visionary</p>
                </div>
                <div class="team-member-details mt-3" style="display: none;">
                    <p>Tan Kai Jun is passionate about promoting an active lifestyle. He crafts and executes strategies that inspire our audience to embrace fitness as a joyful and integral part of their daily lives, ensuring long-term commitment to health and wellness.</p>
                    <p>Related link:                       <a
                      data-mdb-ripple-init
                      class="btn text-white btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/tan-kai-jun-87170029a/" target="_blank"
                      role="button"
                      ><i class="bi bi-linkedin"></i>
                      </a></p>
                </div>
            </div>            
        </div>
      </div>

      <div id="detailOverlay" class="overlay">
        <div class="detail-content">
            <span class="close-btn" onclick="hideDetail()">&times;</span>
            <img id="detailImage" src="" alt="Team Member">
            <h2 id="detailName"></h2>
            <p id="detailDescription"></p>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/FitlifeGymKL/" target="_blank"
              role="button"
              ><i class="bi bi-facebook"></i
            ></a>
      
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;" href="https://x.com/fitlife16" target="_blank" role="button"><i class="custom-twitter-x">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
              </svg>
            </i></a>      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/go_fitlife/?hl=en"target="_blank" 
              role="button"
              ><i class="bi bi-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/in/ler-jun-wei-875343306/" target="_blank"
              role="button"
              ><i class="bi bi-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/LiewZhengXian/Frontend-Assignment" target="_blank"
              role="button"
              ><i class="bi bi-github"></i>
              </a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <p>&copy; 2024 FitLife. All rights reserved.</p>

        </div>
        <!-- Copyright -->
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
    <script src="../ourteam.js"></script>
</body>
</html>