<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href= "../styles/template.css">
    <link rel="stylesheet" href= "../styles/product.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="home.html#home"><img src="../images/FitLife.png" alt="FitLife Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Center the menu items -->
          <li class="nav-item"><a class="nav-link" href="home.html#home">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="home.html#features" id="dropdownHealthTips" role="button" aria-expanded="false">
              Features
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownHealthTips">
              <a href="fatlosstips.html">Workout Program</a>
              <a href="food.html">Food Recommendation</a>
              <a href="product.html">Product Recommendation</a>
              <a href="calculatorpage.html">Health Calculator</a>
              <a href="findgym.html">Find Gym</a>
              <a href="membership.html">Membership</a>

            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="faqQues.html">FAQ</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownAbout" role="button" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownAbout">
              <a href="aboutus.html">About Us</a>
              <a href="ourteam.html">Our Team</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="profile.html" id="dropdownProfile" role="button" aria-expanded="false">
              <i class="bi bi-person profile-icon"></i> Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownProfile">
              <a href="register.html">Join Us</a>
              <a href="login.html">Sign In</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    

  <section class="section1">
    <div class="title-section">
      <div class="title-background">
        <h1 class="title">Product</h1>
          <p class="description">Transform your fitness journey with tools that provide real-time insights, 
                                 keep you motivated, and help you achieve your goals. Start your path to better health today.</p>
      </div>
    </div>
  </section>

  <section class="newsletter" id="newsletter-section">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 newsletter-title text-center">
        <h2>Get our newsletter today!</h2>
        <p>Subscribe to our newsletter today to get more info for fitness tips, healthy food recipes, attractive fitness product!</p>
        <form id="newsletter-info" class="d-flex flex-column">
          <div class="form-row">
            <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Name" required>
            <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Email Address" required>
          </div>
          <div class="form-check mb-3 text-center">
            <input class="form-check-input" type="checkbox" id="consent">
            <label class="form-check-label" for="consent">I consent to receive emails from FitLife*</label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" id="submit-btn" disabled>Submit</button> 
        </form>
      </div>
      <div class="newsletter-success text-center" style="display: none;">
        <h2><span class="check-icon">&#10003;</span> Newsletter Subscribed Successfully!</h2>
        <h4>Thank you for supporting us!</h4>
      </div>
    </div>
  </section>

  <section id="fitness-and-product-section" class="featured">
    <h2>Fitness Product</h2>
    <div class="list-wrapper">
      <button class="button button--previous" type="button">➜</button>
      <ul class="list">
        <li class="item">
          <a href="https://www.ironcompany.com/blog/gym-equipment-what-really-matters">
            <div class="content">
              <img src="https://www.ironcompany.com/media/mf_webp/jpg/media/magefan_blog/Gym_Equipment_Article_By_Stuart_McRobert_at_IRON_COMPANY.webp" class="img-fluid">
              <p>Gym equipment: what really matters</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://nymag.com/strategist/article/smart-home-gym-equipment-mirror-tonal-peloton-review.html"></a>
          <div class="content">
            <img src="https://pyxis.nymag.com/v1/imgs/698/128/550b69b0763c789f2e68d5864cf942a2f0-3-14-Workout.rhorizontal.w700.jpg" class="img-fluid">
            <p>The 9 Very Best Smart Home-Gym Machines</p>
          </div>
        </li>
        <li class="item">
          <a href="https://www.herbalife.com/en-gb/wellness-resources/articles/top-10-home-fitness-equipment-must-haves">
            <div class="content">
              <img src="https://www.herbalife.com/dmassets/regional-reusable-assets/emea/images/fi-woman-home-workout-emea.jpg:desktop-w1248h533-234?fmt=webp-alpha" class="img-fluid">
              <p>​​Top 10 Home Fitness Equipment Must-Haves​</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://reviewed.usatoday.com/lifestyle/features/14-home-fitness-products-recommended-by-a-trainer">
            <div class="content">
              <img src="https://reviewed-com-res.cloudinary.com/image/fetch/s--uxLir4_n--/b_white,c_limit,cs_srgb,f_auto,fl_progressive.strip_profile,g_center,q_auto,w_972/https://reviewed-production.s3.amazonaws.com/1580413039090/Fitbit-Charge-3-Ab-Roller-hero.jpg" class="img-fluid">
              <p>14 fitness products that are actually worth having at home</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://theconversation.com/gym-hygiene-guide-the-dangerous-bacteria-that-lurk-in-dirty-fitness-equipment-and-clothes-227309">
            <div class="content">
              <img src="https://www.healthdigest.com/img/gallery/why-a-high-protein-diet-makes-your-farts-a-little-extra-stinky/intro-1699536398.webp" class="img-fluid">
              <p>Gym hygiene guide</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.oxygenmag.com/training-tips-for-women/fitness-gear-and-apparel-for-women/fitness-gear/top-10-health-and-fitness-products-for-2020/">
            <div class="content">
              <img src="https://cdn.oxygenmag.com/wp-content/uploads/2020/01/tonal-image-2.jpg?crop=535:301&width=1070&enable=upscale" class="img-fluid">
              <p>Top 10 Health and Fitness Products for 2020</p>
            </div>
          </a>
        </li>
      </ul>
      <button class="button button--next" type="button">➜</button>
    </div>
  </section>

  <section id="vitamins-and-supplements-section" class="featured">
    <h2>Vitamins and Supplements</h2>
    <div class="list-wrapper">
      <button class="button button--previous" type="button">➜</button>
      <ul class="list">
        <li class="item">
          <a href="https://www.medicalnewstoday.com/articles/best-vitamin-c-supplements#_noHeaderPrefixedContent">
            <div class="content">
              <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2022/09/2016912-9-of-the-best-vitamin-C-supplements-1296x728-Header-05a2d3-1024x575.jpg" class="img-fluid">
              <p>7 Best Vitamin C Supplements</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.medicalnewstoday.com/articles/best-5-htp-supplement"></a>
          <div class="content">
            <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/09/359712-What-are-some-of-the-top-5-HTP-supplements-1296x728-Header-acc919-1-1024x575.jpg" class="img-fluid">
            <p>What are some of the top 5-HTP supplements?</p>
          </div>
        </li>
        <li class="item">
          <a href="https://www.eatingwell.com/is-it-possible-to-take-too-much-b12-8693863">
            <div class="content">
              <img src="https://www.eatingwell.com/thmb/Z_l3YQwgh1hInARpqTjelWvZU-8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/s-it-possible-to-take-too-much-B12-0272778e4e9b404c93fb252891e4f4a8.jpg" class="img-fluid">
              <p>Is It Possible to Take Too Much B12? Here's What Dietitians Say</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.healthline.com/health/4-best-vitamins-for-skin">
            <div class="content">
              <img src="https://post.healthline.com/wp-content/uploads/2021/06/Female_Face_Lotion_Cottonball_1296x728-header-1296x729.jpg" class="img-fluid">
              <p>The 4 Best Vitamins for Your Skin</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.nia.nih.gov/health/vitamins-and-supplements/dietary-supplements-older-adults">
            <div class="content">
              <img src="https://www.nia.nih.gov/sites/default/files/inline-images/dietary-supplements-elderly-inline.jpg" class="img-fluid">
              <p>Dietary Supplements for Older Adults</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.webmd.com/vitamins-and-supplements/ss/slideshow-supplements-myths-facts">
            <div class="content">
              <img src="https://img.lb.wbmdstatic.com/vim/live/webmd/consumer_assets/site_images/articles/health_tools/supplements_what_you_really_need_slideshow/1800ss_getty_rf_father_and_daughter_in_sunshine.jpg?resize=652px:*&output-quality=75" class="img-fluid">
              <p>Supplements: What You Really Need</p>
            </div>
          </a>
        </li>
      </ul>
      <button class="button button--next" type="button">➜</button>
    </div>
  </section>

  <section id="personal-training-section" class="featured">
    <h2>Personal Training and Courses</h2>
    <div class="list-wrapper">
      <button class="button button--previous" type="button">➜</button>
      <ul class="list">
        <li class="item">
          <a href="https://nrpt.co.uk/articles/benefits-of-hiring-a-personal-trainer.htm">
            <div class="content">
              <img src="https://nrpt.co.uk/public/images/hero/img_hero-woman-powerlift.jpg" class="img-fluid">
              <p>The Benefits of Hiring a Personal Trainer</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.hfe.co.uk/personal-trainer/articles/best-apps-and-software-for-personal-trainers/"></a>
          <div class="content">
            <img src="https://www.hfe.co.uk/wp-content/uploads/2023/10/Best-Apps-for-Personal-Trainers-530-min.jpg" class="img-fluid">
            <p>Best Apps for Personal Trainers</p>
          </div>
        </li>
        <li class="item">
          <a href="https://nrpt.co.uk/articles/how-much-does-it-cost-to-become-a-personal-trainer.htm">
            <div class="content">
              <img src="https://nrpt.co.uk/public/images/hero/hero_gbp-money.jpg" class="img-fluid">
              <p>How Much Are Personal Training Courses?</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.origym.co.uk/blog/personal-training-course-involve/">
            <div class="content">
              <img src="https://www.origym.co.uk/wp-content/uploads/2021/11/What-Does-a-Personal-Training-Course-Involve.webp" class="img-fluid">
              <p>What Does a Personal Training Course Involve?</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.robinwaite.com/blog/how-online-pt-courses-are-redefining-fitness-education">
            <div class="content">
              <img src="https://cdn.prod.website-files.com/6213b42b1ec3eeffac87a582/64c222656295d31835453641_How%20Online%20PT%20Courses%20Are%20Redefining%20Fitness%20Education.webp" class="img-fluid">
              <p>How Online PT Courses Are Redefining Fitness Education</p>
            </div>
          </a>
        </li>
        <li class="item">
          <a href="https://www.theglobeandmail.com/life/health-and-fitness/article-the-power-of-personal-trainers/">
            <div class="content">
              <img src="https://www.theglobeandmail.com/resizer/v2/EPNF6ZIDO5M47H7P4RYUL5FL2U.JPG?auth=7cc6a21375118d1310305e77f5def7dafa363c608c50caf3749442fe82bfafcc&width=600&quality=80" class="img-fluid">
              <p>The power of personal trainers</p>
            </div>
          </a>
        </li>
      </ul>
      <button class="button button--next" type="button">➜</button>
    </div>
  </section>


    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3"  style="margin-top: 2rem;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/FitlifeGymKL/" target="_blank"
              role="button"
              ><i class="bi bi-facebook"></i
            ></a>
      
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;" href="https://x.com/fitlife16" target="_blank" role="button"><i class="custom-twitter-x">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
              </svg>
            </i></a>
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/go_fitlife/?hl=en"target="_blank" 
              role="button"
              ><i class="bi bi-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/in/ler-jun-wei-875343306/" target="_blank"
              role="button"
              ><i class="bi bi-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/LiewZhengXian/Frontend-Assignment" target="_blank"
              role="button"
              ><i class="bi bi-github"></i>
              </a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <p>&copy; 2024 FitLife. All rights reserved.</p>

        </div>
        <!-- Copyright -->
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../product.js"></script>
</body>
</html>